<h1>Suggest a new Product!</h1>




<%= form_tag '/items', method: :post do %>

  <div>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  </div>
  
 <div>
  <%= label_tag :price %>
  <%= text_field_tag :price %>
  </div>

   <div>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  </div>

     <div>
  <%= label_tag :stock %>
  <%= text_field_tag :stock %>
  </div>

   <div>
  <%= label_tag :supplier_id %>
  <%= text_field_tag :supplier_id %>
  </div>


   <div>
  <%= submit_tag 'Punch Right Here, Joe!' %>
  </div>



  <% end %>