⁄<!DOCTYPE html>
<html>
<head>
  <title>StoreApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Casper's Camping Store</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% if user_signed_in? %>

      <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
      <% else %>
      <li><%= link_to 'Sign In', '/users/sign_in'%></li>
      <li><%= link_to 'Sign Up', '/users/sign_up'%></li>
      <% end %>
      <% if current_user %>
        <li class="active"><a href="#"><%= current_user.email %> <span class="sr-only">(current)</span></a></li>
        <% end %>
        <!-- <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/?up_sort=price">Price Low to High</a></li>
            <li><a href="/?up_sort=price&down_sort=desc">Price High to Low</a></li>
            <li><a href="items/#{item.id}">Click Here for a Random Product!</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Sign out', 'users/sign_out', method: :delete %></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            
          </ul>
        </li>
      </ul> -->


      <%= form_tag '/', method: :get, class: "navbar-form navbar-left" do %>
        <div class='form-group'>
          <%= text_field_tag :search_term %>
          </div>

          <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><%= link_to 'Sign In', 'users/sign_in' %></li>
           <li><%= link_to 'Sign Up', 'users/sign_up' %></li>
            <li><a href="/?up_sort=price">Price: Lowest to Highest</a></li>
            <li><a href="/?up_sort=price&down_sort=desc">Price High to Low</a></li>
            <li><a href="/?discount=50">Discount Items</a></li>
            <li><a href="/items/random">Click Here for a Random Product!</a></li>
            <% Category.all.each do |category| %>
            <li><a href="/?category=<%= category.name %>"><%= category.name %></a></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Sign Out', 'users/sign_out', method: :delete %></li>
            <li><%= link_to "Cart", '/carted_products', method: :get %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



  <div class ="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name != "notice" ? name : "success" %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= name.upcase %></strong> 
      <%= message %>
    </div>
 <% end %>

<h5><a href="/items">Home</a></h5>
<h5><%= link_to "Add a New Item Here!", "/items/new" %></h5>

<%= yield %>


<div>

</body>
</html>
